In [8]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import time
import glob
import warnings
warnings.filterwarnings('ignore')


#data
path = "./data/data_daily"
all_files = glob.glob(path + "/*.csv")   #把所有的数据文件文件名读取在一起

li = []


for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)


frame = pd.concat(li, axis=0, ignore_index=True)
result_df = frame.sort_values(by=['code', 'date'], ascending=True)
result_df = result_df.reset_index(drop=True)
result_df['vwap'] = result_df['money'] / result_df['volume']
result_df

,date,code,open,close,low,high,volume,money,turnover_ratio,vwap
0,2020-01-02,000001.XSHE,1976.78,2002.90,1964.91,2012.40,1288881.0,2.571196e+09,0.7885,1994.906033
1,2020-01-03,000001.XSHE,2011.21,2039.71,2008.84,2055.14,940146.0,1.914495e+09,0.5752,2036.381024
2,2020-01-06,000001.XSHE,2019.52,2026.65,2007.65,2058.70,726114.0,1.477930e+09,0.4442,2035.396912
3,2020-01-07,000001.XSHE,2033.77,2036.14,2012.40,2051.58,613690.0,1.247047e+09,0.3755,2032.047345
4,2020-01-08,000001.XSHE,2018.34,1977.97,1974.41,2024.27,714104.0,1.423609e+09,0.4369,1993.559497
...,...,...,...,...,...,...,...,...,...,...
4253855,2023-11-24,689009.XSHG,34.88,35.28,34.88,35.88,10815571.0,3.834648e+08,2.0661,35.454882
4253856,2023-11-27,689009.XSHG,35.24,34.89,34.62,35.60,6348515.0,2.225542e+08,1.2128,35.056107
4253857,2023-11-28,689009.XSHG,34.90,34.36,34.01,35.17,5755962.0,1.979950e+08,1.0996,34.398252
4253858,2023-11-29,689009.XSHG,34.59,33.27,33.09,34.59,6423819.0,2.155980e+08,1.2271,33.562281
4253859,2023-11-30,689009.XSHG,33.39,33.10,32.63,33.39,4540174.0,1.497706e+08,0.8673,32.987852

In [9]:
df

,date,code,open,close,low,high,volume,money,turnover_ratio
0,2022-04-01,000001.XSHE,1870.82,1917.08,1850.13,1921.95,1219922.0,2.319617e+09,0.7652
1,2022-04-01,000002.XSHE,2866.16,3124.80,2855.57,3167.15,1993104.0,6.031512e+09,3.1022
2,2022-04-01,000004.XSHE,148.18,145.64,144.30,148.85,511792.0,7.472289e+07,3.2758
3,2022-04-01,000005.XSHE,22.90,23.00,22.70,23.10,824109.0,1.889155e+07,0.7963
4,2022-04-01,000006.XSHE,252.01,266.77,252.01,269.72,2289281.0,6.002919e+08,8.3465
...,...,...,...,...,...,...,...,...,...
4664,2022-04-01,688799.XSHG,39.11,38.15,38.02,39.49,1220874.0,4.697210e+07,6.0170
4665,2022-04-01,688800.XSHG,113.99,109.55,108.31,114.50,470295.0,5.175621e+07,2.0492
4666,2022-04-01,688819.XSHG,32.62,32.43,32.21,32.63,1139595.0,3.690082e+07,0.8999
4667,2022-04-01,688981.XSHG,45.88,45.71,45.31,46.02,11942637.0,5.455204e+08,0.6383
4668,2022-04-01,689009.XSHG,43.79,43.39,42.71,44.15,998430.0,4.318313e+07,0.1962

In [10]:
#上下影线
df = result_df.copy()
df['upshadow'] = (df['high'] - (df[['close', 'open']].max(axis=1)))
df['downshadow'] = ((df[['close', 'open']].min(axis=1)) - df['low'])

In [11]:
df

,date,code,open,close,low,high,volume,money,turnover_ratio,vwap,upshadow,downshadow
0,2020-01-02,000001.XSHE,1976.78,2002.90,1964.91,2012.40,1288881.0,2.571196e+09,0.7885,1994.906033,9.50,11.87
1,2020-01-03,000001.XSHE,2011.21,2039.71,2008.84,2055.14,940146.0,1.914495e+09,0.5752,2036.381024,15.43,2.37
2,2020-01-06,000001.XSHE,2019.52,2026.65,2007.65,2058.70,726114.0,1.477930e+09,0.4442,2035.396912,32.05,11.87
3,2020-01-07,000001.XSHE,2033.77,2036.14,2012.40,2051.58,613690.0,1.247047e+09,0.3755,2032.047345,15.44,21.37
4,2020-01-08,000001.XSHE,2018.34,1977.97,1974.41,2024.27,714104.0,1.423609e+09,0.4369,1993.559497,5.93,3.56
...,...,...,...,...,...,...,...,...,...,...,...,...
4253855,2023-11-24,689009.XSHG,34.88,35.28,34.88,35.88,10815571.0,3.834648e+08,2.0661,35.454882,0.60,0.00
4253856,2023-11-27,689009.XSHG,35.24,34.89,34.62,35.60,6348515.0,2.225542e+08,1.2128,35.056107,0.36,0.27
4253857,2023-11-28,689009.XSHG,34.90,34.36,34.01,35.17,5755962.0,1.979950e+08,1.0996,34.398252,0.27,0.35
4253858,2023-11-29,689009.XSHG,34.59,33.27,33.09,34.59,6423819.0,2.155980e+08,1.2271,33.562281,0.00,0.18
4253859,2023-11-30,689009.XSHG,33.39,33.10,32.63,33.39,4540174.0,1.497706e+08,0.8673,32.987852,0.00,0.47

In [5]:
#将日期列转换为datetime类型
df['date']=pd.to_datetime(df['date'])

#保存文件夹路径
output_folder='./newclass_feature/upshadow'
selected_columns=['code', 'upshadow']

os.makedirs(output_folder,exist_ok=True)

#创建日期索引并检查是否在dateframe中存在
date_index=pd.date_range(df['date'].min(),df['date'].max(),freq='D')
existing_dates=[d for d in date_index if d in df['date'].values]

#遍历每个日期如果它在dataframe中存在 则将其保存为单独的csv文件
for date in existing_dates:
    group=df.loc[df['date']==date,selected_columns]
    filename=os.path.join(output_folder,f'{date.strftime("%Y-%m-%d")}.csv')
    group=group.sort_values(by='code',ascending=True)
    group.to_csv(filename,index=False)